In [3]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
# Suppress warnings 
import warnings
warnings.filterwarnings('ignore')
import gc

import datetime
# matplotlib and seaborn for plotting
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import math

In [ ]:
df = pd.read_csv("../data/viewing_rating.csv", encoding='cp932')

In [ ]:
df.start_at=pd.to_datetime(df.start_at)

In [ ]:
df["drama_key"] = df.start_at.dt.strftime("%y")+df.start_at.dt.strftime("%m")+"_"+df.TV_station+"_"+df.time_table

In [ ]:
df
# df.start_at.dt.strftime("%m")

In [ ]:
# import pandas_profiling as pdp
# pdp.ProfileReport(df)

In [ ]:
import json

f = open("../data/drama_info.json", 'r')
print(f)
drama_info_json = json.load(f)

In [ ]:
# def addDramaInfo (drama_title) 
#     main_actor_only_json[drama_title]

In [ ]:
print (drama_info_json)

In [ ]:
df["main_actor1"] = ""
df["main_actor2"] = ""

In [ ]:
# for tmp_title in df.drama_title:
# #     if drama_title in main_actor_only_json  drama_title]:
#     if df.drama_title == tmp_title:
#         df[df.drama_title == tmp_title]["main_actor1"] = main_actor_only_json.get(drama_title,{}).get("cast1")

#     else:
#         print(tmp_title)
        
        #     df["main_actor2"].loc(tmp_title) = main_actor_only_json.get(drama_title,{}).get("cast2")
#     df[drama_title]["main_actor2"] = main_actor_only_json.get(drama_title,{}).get("cast2")

In [ ]:
for tmp_index in range(len(df)):
    tmp_drama_key = df.iloc[tmp_index]["drama_key"]
    if tmp_drama_key in drama_info_json.keys():
#         print(drama_info_json[tmp_drama_key]["main_actor1"])
        df["main_actor1"][tmp_index] = drama_info_json[tmp_drama_key]["main_actor1"]
        df["main_actor2"][tmp_index] = drama_info_json[tmp_drama_key]["main_actor2"]
#         print("yes"+tmp_drama_title)
    else:
        print(tmp_drama_key)

In [ ]:
# for i in range(1000):
#     print(df.iloc[i])
#     print (i)

In [ ]:
df[df["TV_station"]=="TBS"].iloc[140:200]

In [ ]:
df_actor = pd.read_csv("../data/actor_power.csv", encoding='cp932')

In [16]:
def make_person_key_df (actor_actress):
    actor_actress_list = []
    for column in actor_actress.columns:
        if column == "ranking":
            continue
        actor_actress_list.extend(actor_actress[column].values.tolist())
    print ("元の数"+ str(len(actor_actress_list)))
    # uniqueにする
    actor_actress_list = list(set(actor_actress_list))
    #nan を除去
    actor_actress_list = [actor for actor in actor_actress_list if type(actor) is not float ]
    print ("後の数"+str(len(actor_actress_list)))

    df_pivot = pd.DataFrame( columns=actor_actress_list, index=[str(n) for n in range(2008,2020)])

    for tmp_name in df_pivot.columns:
        print(tmp_name)
        for year in actor_actress.columns:
            if year == "ranking": continue
            print (actor_actress[actor_actress[year] == tmp_name].ranking)
    #         print(year)
            print(type(year))
            if  len(actor_actress[actor_actress[year] == tmp_name].ranking) > 0:
                print("come")
                df_pivot.loc[year][tmp_name] = (actor_actress[actor_actress[year] == tmp_name].ranking).values[0]

    print (df_pivot)

In [17]:
df_actress = pd.read_csv("../data/actress_power.csv", encoding='cp932')
df_actress_pivot make_person_key_df(df_actress)

元の数360
後の数62
菅野美穂
27    28
Name: ranking, dtype: int64
<class 'str'>
come
18    19
Name: ranking, dtype: int64
<class 'str'>
come
16    17
Name: ranking, dtype: int64
<class 'str'>
come
17    18
Name: ranking, dtype: int64
<class 'str'>
come
14    15
Name: ranking, dtype: int64
<class 'str'>
come
5    6
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
0    1
Name: ranking, dtype: int64
<class 'str'>
come
4    5
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
井上真央
Series([], Name: ranking, dtype: int64)
<class 'str'>
29    30
Name: ranking, dtype: int64
<class 'str'>
come
27    28
Name: ranking, dtype: int64
<class 'str'>
come
29    30
Name: ranking, dtype: int64
<class 'str'>
come
19    20
Name: ranking, dtype: int64
<class 'str'>
come
16    17
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
26    27
Name: ranking, dtype: int64
<class 'str'>
come
27    28
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
北川景子
2    3
Name: ranking, dtype: int64
<class 'str'>
come
6    7
Name: ranking, dtype: int64
<class 'str'>
come
3    4
Name: ranking, dtype: int64
<class 'str'>
come
1    2
Name: ranking, dtype: int64
<class 'str'>
come
3    4
Name: ranking, dtype: int64
<class 'str'>
come
3    4
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
14    15
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
天海祐希
8    9
Name: ranking, dtype: int64
<class 'str'>
come
4    5
Name: ranking, dtype: int64
<class 'str'>
come
7    8
Name: ranking, dtype: int64
<class 'str'>
come
6    7
Name: ranking, dtype: int64
<class 'str'>
come
7    8
Name: ranking, dtype: int64
<class 'str'>
come
8    9
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
5    6
Name: ranking, dtype: int64
<class 'str'>
come
0    1
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
新垣結衣
1    2
Name: ranking, dtype: int64
<class 'str'>
come
1    2
Name: ranking, dtype: int64
<class 'str'>
come
0    1
Name: ranking, dtype: int64
<class 'str'>
come
3    4
Name: ranking, dtype: int64
<class 'str'>
come
4    5
Name: ranking, dtype: int64
<class 'str'>
come
4    5
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
9    10
Name: ranking, dtype: int64
<class 'str'>
come
8    9
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
広瀬アリス
21    22
Name: ranking, dtype: int64
<class 'str'>
come
28    29
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
木村文乃
Series([], Name: ranking, dtype: int64)
<class 'str'>
23    24
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
橋本環奈
17    18
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
江角マキコ
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
19    20
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
深津絵里
Series([], Name: ranking, dtype: int64)
<class 'str'>
26    27
Name: ranking, dtype: int64
<class 'str'>
come
24    25
Name: ranking, dtype: int64
<class 'str'>
come
27    28
Name: ranking, dtype: int64
<class 'str'>
come
27    28
Name: ranking, dtype: int64
<class 'str'>
come
26    27
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
10    11
Name: ranking, dtype: int64
<class 'str'>
come
12    13
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
杏
Series([], Name: ranking, dtype: int64)
<class 'str'>
22    23
Name: ranking, dtype: int64
<class 'str'>
come
13    14
Name: ranking, dtype: int64
<class 'str'>
come
10    11
Name: ranking, dtype: int64
<class 'str'>
come
6    7
Name: ranking, dtype: int64
<class 'str'>
come
14    15
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
竹内結子
20    21
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
28    29
Name: ranking, dtype: int64
<class 'str'>
come
25    26
Name: ranking, dtype: int64
<class 'str'>
come
15    16
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
12    13
Name: ranking, dtype: int64
<class 'str'>
come
7    8
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
波瑠
24    25
Name: ranking, dtype: int64
<class 'str'>
come
25    26
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
桐谷美玲
22    23
Name: ranking, dtype: int64
<class 'str'>
come
19    20
Name: ranking, dtype: int64
<class 'str'>
come
8    9
Name: ranking, dtype: int64
<class 'str'>
come
9    10
Name: ranking, dtype: int64
<class 'str'>
come
28    29
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
柴崎コウ
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
12    13
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
小雪
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>

Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
29    30
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
永作博美
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
28    29
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
戸田恵梨香
10    11
Name: ranking, dtype: int64
<class 'str'>
come
20    21
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
24    25
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
黒木メイサ
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
6    7
Name: ranking, dtype: int64
<class 'str'>
come
22    23
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
小泉今日子
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
26    27
Name: ranking, dtype: int64
<class 'str'>
come
18    19
Name: ranking, dtype: int64
<class 'str'>
come
23    24
Name: ranking, dtype: int64
<class 'str'>
come
10    11
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
15    16
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
吉瀬美智子
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
26    27
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
深田恭子
3    4
Name: ranking, dtype: int64
<class 'str'>
come
3    4
Name: ranking, dtype: int64
<class 'str'>
come
4    5
Name: ranking, dtype: int64
<class 'str'>
come
7    8
Name: ranking, dtype: int64
<class 'str'>
come
17    18
Name: ranking, dtype: int64
<class 'str'>
come
17    18
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
16    17
Name: ranking, dtype: int64
<class 'str'>
come
19    20
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
吉高由里子
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
20    21
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
25    26
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
樹木希林
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
23    24
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
蒼井優
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
24    25
Name: ranking, dtype: int64
<class 'str'>
come
25    26
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
武井咲
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
22    23
Name: ranking, dtype: int64
<class 'str'>
come
22    23
Name: ranking, dtype: int64
<class 'str'>
come
22    23
Name: ranking, dtype: int64
<class 'str'>
come
20    21
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
山口智子
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
27    28
Name: ranking, dtype: int64
<class 'str'>
come
10    11
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
篠原涼子
16    17
Name: ranking, dtype: int64
<class 'str'>
come
24    25
Name: ranking, dtype: int64
<class 'str'>
come
9    10
Name: ranking, dtype: int64
<class 'str'>
come
13    14
Name: ranking, dtype: int64
<class 'str'>
come
12    13
Name: ranking, dtype: int64
<class 'str'>
come
13    14
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
11    12
Name: ranking, dtype: int64
<class 'str'>
come
20    21
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
芦田愛菜
25    26
Name: ranking, dtype: int64
<class 'str'>
come
27    28
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
榮倉奈々
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
25    26
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
佐々木希
15    16
Name: ranking, dtype: int64
<class 'str'>
come
11    12
Name: ranking, dtype: int64
<class 'str'>
come
29    30
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
20    21
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
柴咲コウ
14    15
Name: ranking, dtype: int64
<class 'str'>
come
15    16
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
12    13
Name: ranking, dtype: int64
<class 'str'>
come
5    6
Name: ranking, dtype: int64
<class 'str'>
come
6    7
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
3    4
Name: ranking, dtype: int64
<class 'str'>
come
6    7
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
高畑充希
19    20
Name: ranking, dtype: int64
<class 'str'>
come
16    17
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>

Series([], Name: ranking, dtype: int64)
<class 'str'>
優香
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
23    24
Name: ranking, dtype: int64
<class 'str'>
come
18    19
Name: ranking, dtype: int64
<class 'str'>
come
15    16
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
11    12
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
有村架純
5    6
Name: ranking, dtype: int64
<class 'str'>
come
5    6
Name: ranking, dtype: int64
<class 'str'>
come
5    6
Name: ranking, dtype: int64
<class 'str'>
come
2    3
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
松たか子
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
16    17
Name: ranking, dtype: int64
<class 'str'>
come
10    11
Name: ranking, dtype: int64
<class 'str'>
come
22    23
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
18    19
Name: ranking, dtype: int64
<class 'str'>
come
15    16
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
真矢みき
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
19    20
Name: ranking, dtype: int64
<class 'str'>
come
17    18
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
能年玲奈
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
16    17
Name: ranking, dtype: int64
<class 'str'>
come
24    25
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
石田ゆり子
9    10
Name: ranking, dtype: int64
<class 'str'>
come
7    8
Name: ranking, dtype: int64
<class 'str'>
come
19    20
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
仲間由紀恵
12    13
Name: ranking, dtype: int64
<class 'str'>
come
13    14
Name: ranking, dtype: int64
<class 'str'>
come
6    7
Name: ranking, dtype: int64
<class 'str'>
come
8    9
Name: ranking, dtype: int64
<class 'str'>
come
2    3
Name: ranking, dtype: int64
<class 'str'>
come
9    10
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
4    5
Name: ranking, dtype: int64
<class 'str'>
come
1    2
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
上野樹里
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
29    30
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
17    18
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
薬師丸ひろ子
28    29
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
27    28
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
菜々緒
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
26    27
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
宮_あおい
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
28    29
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
29    30
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
8    9
Name: ranking, dtype: int64
<class 'str'>
come
9    10
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
木村佳乃
29    30
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
松嶋菜々子
18    19
Name: ranking, dtype: int64
<class 'str'>
come
17    18
Name: ranking, dtype: int64
<class 'str'>
come
21    22
Name: ranking, dtype: int64
<class 'str'>
come
20    21
Name: ranking, dtype: int64
<class 'str'>
come
13    14
Name: ranking, dtype: int64
<class 'str'>
come
11    12
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
7    8
Name: ranking, dtype: int64
<class 'str'>
come
2    3
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
黒木瞳
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
29    30
Name: ranking, dtype: int64
<class 'str'>
come
13    14
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
上戸彩
Series([], Name: ranking, dtype: int64)
<class 'str'>
10    11
Name: ranking, dtype: int64
<class 'str'>
come
11    12
Name: ranking, dtype: int64
<class 'str'>
come
11    12
Name: ranking, dtype: int64
<class 'str'>
come
9    10
Name: ranking, dtype: int64
<class 'str'>
come
2    3
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
2    3
Name: ranking, dtype: int64
<class 'str'>
come
3    4
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
吉永小百合
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
24    25

Name: ranking, dtype: int64
<class 'str'>
come
24    25
Name: ranking, dtype: int64
<class 'str'>
come
18    19
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
21    22
Name: ranking, dtype: int64
<class 'str'>
come
21    22
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
松下奈緒
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
28    29
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
22    23
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
多部未華子
13    14
Name: ranking, dtype: int64
<class 'str'>
come
21    22
Name: ranking, dtype: int64
<class 'str'>
come
23    24
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
観月ありさ
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
25    26
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
23    24
Name: ranking, dtype: int64
<class 'str'>
come
28    29
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
常盤貴子
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
23    24
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
吉田羊
26    27
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
15    16
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
堀北真希
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
14    15
Name: ranking, dtype: int64
<class 'str'>
come
5    6
Name: ranking, dtype: int64
<class 'str'>
come
1    2
Name: ranking, dtype: int64
<class 'str'>
come
1    2
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
13    14
Name: ranking, dtype: int64
<class 'str'>
come
14    15
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
藤原紀香
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
26    27
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
石原さとみ
4    5
Name: ranking, dtype: int64
<class 'str'>
come
2    3
Name: ranking, dtype: int64
<class 'str'>
come
2    3
Name: ranking, dtype: int64
<class 'str'>
come
4    5
Name: ranking, dtype: int64
<class 'str'>
come
11    12
Name: ranking, dtype: int64
<class 'str'>
come
7    8
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
20    21
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
長澤まさみ
7    8
Name: ranking, dtype: int64
<class 'str'>
come
8    9
Name: ranking, dtype: int64
<class 'str'>
come
15    16
Name: ranking, dtype: int64
<class 'str'>
come
21    22
Name: ranking, dtype: int64
<class 'str'>
come
21    22
Name: ranking, dtype: int64
<class 'str'>
come
21    22
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
16    17
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
米倉涼子
11    12
Name: ranking, dtype: int64
<class 'str'>
come
14    15
Name: ranking, dtype: int64
<class 'str'>
come
17    18
Name: ranking, dtype: int64
<class 'str'>
come
19    20
Name: ranking, dtype: int64
<class 'str'>
come
8    9
Name: ranking, dtype: int64
<class 'str'>
come
12    13
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
25    26
Name: ranking, dtype: int64
<class 'str'>
come
18    19
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
広瀬すず
6    7
Name: ranking, dtype: int64
<class 'str'>
come
9    10
Name: ranking, dtype: int64
<class 'str'>
come
10    11
Name: ranking, dtype: int64
<class 'str'>
come
14    15
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
綾瀬はるか
0    1
Name: ranking, dtype: int64
<class 'str'>
come
0    1
Name: ranking, dtype: int64
<class 'str'>
come
1    2
Name: ranking, dtype: int64
<class 'str'>
come
0    1
Name: ranking, dtype: int64
<class 'str'>
come
0    1
Name: ranking, dtype: int64
<class 'str'>
come
0    1
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
1    2
Name: ranking, dtype: int64
<class 'str'>
come
5    6
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
土屋太鳳
23    24
Name: ranking, dtype: int64
<class 'str'>
come
12    13
Name: ranking, dtype: int64
<class 'str'>
come
18    19
Name: ranking, dtype: int64
<class 'str'>
come
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
Series([], Name: ranking, dtype: int64)
<class 'str'>
     菅野美穂 井上真央 北川景子 天海祐希 新垣結衣 広瀬アリス 木村文乃 橋本環奈 江角マキコ 深津絵里  ... 常盤貴子  吉田羊 堀北真希  \
2008  NaN  NaN  NaN  NaN  NaN   NaN  NaN  NaN   NaN  NaN  ...  NaN  NaN  NaN
2009  NaN  NaN  NaN  NaN  NaN   NaN  NaN  NaN   NaN  NaN  ...  NaN  NaN  NaN
2010    5   28  NaN    1    9   NaN  NaN  NaN   NaN   13  ...   24  NaN   15
2011    1   27   15    6   10   NaN  NaN  NaN   NaN   11  ...  NaN  NaN   14
2012  NaN  NaN  NaN  NaN  NaN   NaN  NaN  NaN   NaN  NaN  ...  NaN  NaN  NaN
2013  NaN  NaN  NaN  NaN  NaN   NaN  NaN  NaN   NaN  NaN  ...  NaN  NaN  NaN
2014    6   17    4    9    5   NaN  NaN  NaN    20   27  ...  NaN  NaN    2
2015   15   20    4    8    5   NaN  NaN  NaN   NaN   28  ...  NaN  NaN    2
2016   18   30    2    7    4   NaN  NaN  NaN   NaN   28  ...  NaN   16    6
2017   17   28    4    8    1   NaN  NaN  NaN   NaN   25  ...  NaN  NaN   15
2018   19   30    7    5    2    29   24  NaN   NaN   27  ...  NaN  NaN  NaN
2019   28  NaN    3    9    2    22  NaN   18   NaN  NaN  ...  NaN   27  NaN

     藤原紀香 石原さとみ 長澤まさみ 米倉涼子 広瀬すず 綾瀬はるか 土屋太鳳
2008  NaN   NaN   NaN  NaN  NaN   NaN  NaN
2009  NaN   NaN   NaN  NaN  NaN   NaN  NaN
2010   27   NaN    17   19  NaN     6  NaN
2011  NaN    21   NaN   26  NaN     2  NaN
2012  NaN   NaN   NaN  NaN  NaN   NaN  NaN
2013  NaN   NaN   NaN  NaN  NaN   NaN  NaN
2014  NaN     8    22   13  NaN     1  NaN
2015  NaN    12    22    9  NaN     1  NaN
2016  NaN     5    22   20   15     1  NaN
2017  NaN     3    16   18   11     2   19
2018  NaN     3     9   15   10     1   13
2019  NaN     5     8   12    7     1   24

[12 rows x 62 columns]

In [ ]:
actors_list = []
for column in df_actor.columns:
    if column == "ranking":
        continue
    actors_list.extend(df_actor[column].values.tolist())

    # uniqueにする
    actors_list = list(set(actors_list))

    df_pivot = pd.DataFrame( columns=actors_list, index=[str(n) for n in range(2008,2020)])

    for tmp_name in df_actor_pivot.columns:
        print(tmp_name)
        for year in actor_actress.columns:
            if year == "ranking": continue
            print (actor_actress[actor_actress[year] == tmp_name].ranking)
    #         print(year)
            print(type(year))
    #         print(df_actor_pivot.loc[year])
            if  len(actor_actress[actor_actress[year] == actor_name].ranking) > 0:
    #             print(df_actor_pivot.loc[year])
                print("come")
                df_pivot.loc[year][tmp_name] = (actor_actress[actor_actress[year] == actor_name].ranking).values[0]

    print (df_pivot)

In [ ]:
len(actors_list)

In [ ]:
actors_list = list(set(actors_list))

In [ ]:
actors_list = [actor for actor in actors_list if type(actor) is not float ]
len(actors_list)

In [ ]:
df_actor_pivot = pd.DataFrame( columns=actors_list, index=[str(n) for n in range(2008,2020)])

In [ ]:
for actor_name in df_actor_pivot.columns:
    print(actor_name)
    for year in df_actor.columns:
        if year == "ranking": continue
        print (df_actor[df_actor[year] == actor_name].ranking)
#         print(year)
        print(type(year))
#         print(df_actor_pivot.loc[year])
        if  len(df_actor[df_actor[year] == actor_name].ranking) > 0:
#             print(df_actor_pivot.loc[year])
            print("come")
            df_actor_pivot.loc[year][actor_name] = (df_actor[df_actor[year] == actor_name].ranking).values[0]

In [ ]:
df_actor_pivot

In [ ]:
# df_actor_pivot.loc[2019]

In [ ]:
df_actor_pivot["DAIGO"].loc["2009"]

In [ ]:
rank = df_actor[df_actor[year] == actor_name].ranking

In [ ]:
rank.values[0]

In [ ]:
df_actor["2019"]